body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Courier', monospace;
    color: antiquewhite;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #007BFF;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

nav a:hover {
    text-decoration: underline;
}

button {
    background-color: rgba(41, 74, 189, 0.71);
    color: powderblue;
    padding: 20px 20px;
    border: solid 5px;
    border-radius: 5px;
    font-family: Calibri;
}

button:hover {
    background-color: #0056b3;
}
p {
    color: lightgoldenrodyellow;
    font-family: cursive;
    font-size: 50px;
}

.square {
    width: 100px;
    height: 100px;
    border-radius: 25px;
}

.horizontal {
    display: flex;
    justify-content: center;
    gap: 150px;
}
